input, textarea {
    color: #000;
}

.exercise {
    padding: 0.5rem;
    background-color: var(--button-primary-default);
    border-radius: 2vmax;
}

.exercise:hover {
    background-color: var(--button-primary-hover);
    transform: scale(1.1);
    transition-duration: 500ms;
}

.exercise > * {
    color: var(--text-invert);
    margin: 0.25rem;
}

.exercise > img {
    width: 200px;
}

.input-advanced:focus {
    width: 14.25rem;
    height: 1.75rem;
    outline: none;
    border-radius: 0.75rem;
}

.input-wrapper {
    width: 15rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient-emphasis);
    border: none;
    border-radius: 1rem;
}

#footer-bottom > * {
    margin: 0.25rem 0.5rem;
}

#page-description p {
    font-size: 24px;
}

#start > * {
    margin: 0.5rem;
}

#start *:not(button) {
    color: var(--text-invert);
}

/* @media screen and (max-width: 800px) {
    #div-exercises {
        max-width: 100%;
    }
} */
