.input-advanced:focus {
    width: 14.25rem;
    height: 1.75rem;
    outline: none;
    border: none;
    border-radius: 0.75rem;
    transition-duration: 200ms;
}

.input-wrapper {
    width: 15rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient-emphasis);
    border: none;
    border-radius: 1rem;
}

#page-description p {
    font-size: 24px;
}

#start > * {
    margin: 0.5rem;
}

/* @media screen and (max-width: 800px) {
    #div-exercises {
        max-width: 100%;
    }
} */
