.exercise {
    padding: 0.5rem;
    background-color: var(--button-primary-default);
    border-radius: 2vmax;
}

.exercise:hover {
    background-color: var(--button-primary-hover);
    transform: scale(1.1);
    transition-duration: 500ms;
}

.exercise > * {
    color: var(--text-invert);
    margin: 0.25rem;
}

.exercise > img {
    width: 200px;
}

#div-exercises {
    margin: 1rem;
}

#div-exercises > * {
    margin: 1rem;
}

#footer-bottom > * {
    margin: 0.25rem 0.5rem;
}

#start *:not(button) {
    color: var(--text-invert);
}

#page-description p {
    font-size: 24px;
}

button {
    width: 10rem;
    height: 3rem;
    color: var(--text-primary);
    font-size: 24px;
    background-color: transparent;
    border-color: var(--button-primary-default);
    border-radius: 1rem;
}

button:hover {
    color: var(--text-invert);
    background-color: var(--button-primary-default);
}

/* @media screen and (max-width: 800px) {
    #div-exercises {
        max-width: 100%;
    }
} */
